*{
  font-family: sans-serif;
}

:root{
  --bg-color:#ee82ee
}


body {
  background-color: black;
}
.first {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  column-gap: 3em;
}

a {
  text-decoration: none;
}

button.\31 {
  padding: 5px 10px;
  display: flex;
  background-color: var(--bg-color);
  color: white;
  text-decoration: none;
}

.img1 {
  display: flex;
  justify-content: center;
  margin: 2em 0px;
}
.logo {
  width: 8em;
}


.images {
  display: flex;
  /* column-gap: 1em; */
  justify-content: center;
  column-gap: 3em;
}

.img1 {
  display: flex;
  justify-content: center;
}

img.g-1 {
  width: 18em;
  height: 24em;
}

p.meet {
  color:var(--bg-color);
  text-align: center;
  font-size: 28px;
  margin: 8px 0px;
}

p.description {
  color: white;
  font-size: 20px;
  line-height: 26px;
  width: 21em;
}

img.g-2 {
  width: 6em;
  height: 22em;
  padding: 19px 0px;
  border-radius: 33px;
}

button.btn-1 {
  padding: 13px 100px;
  color: pink;
  font-size: 20px;
  background-color:var(--bg-color);
  border: none;
  border-radius: 10px;
}

.info {
  color: #c3289a;
  position: relative;
 
  text-align: end;
  
  font-size: 20px;
}

.symbol {
  display: flex;
  align-items: center;
  margin: 5px;
}

p.cform {
  color: white;
  text-align: center;
}
button.sign.up {
  /* color: pink; */
  background-color:var(--bg-color);
  padding: 10px 60px;
  border: navajowhite;
  border: none;
  color: white;
  border-radius: 5px;
}

.btn-2 {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  row-gap: 1em;
}

.second {
  display: flex;
  flex-direction: column;
}

.second {
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
  justify-content: center;
}

p.name-1 {
  color: white;
  text-align: center;
  width: 50vw;
  background-color:black;
  height: 6em;
  align-items: end;
  display: flex;
  justify-content: center;
  position: relative;
}

.name-1::before {
  content: "";
  width: 39%;
  position: absolute;
  background-color: rgb(14, 13, 13);
  border-top: 1px solid goldenrod;
  right: calc(100% - 224px);
  top: calc(100% - 9px);
  top: calc;
}
.name-1::after {
  content: "";
  width: 39%;
  position: absolute;
  background-color: rgb(14, 13, 13);
  border-top: 1px solid goldenrod;
  left: calc(100% - 227px);
  top: calc(100% - 9px);
  top: calc;
}


svg.icon {
  color: white;
  width: 3em;
}



svg.icon {
  background-color: white;
  color:var(--bg-color);
  width: 28px;
  width: calc(100%-100px);
  padding: 13px;
  border-radius: 15px;
  margin: 0px 8px;
}

svg.icon:hover {
  transform: rotate(360deg);
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.icons {
  display: flex;
  justify-content: center;
  column-gap: 2em;
  flex-direction: column;
  align-items: center;
  row-gap: 3em;
}

p.terms {
  color: white;
}

.logo-n {
  display: flex;
  justify-content: space-between;
}

.women {
  width: 68%;
  position: relative;
  margin: 0px auto;
}
.match-info {
  background-image: linear-gradient(45deg, #ddcece, transparent);
  padding: 6px 5px 5px 5px;
  /* border-radius: 7px; */
  margin: 0px;
  border-radius: 0px 0px 16px 17px;
}

.third {
  display: block;
  /* background-color: white; */
  width: 22em;
  margin: 0px auto;
}

img.b {
  background-color: white;
  padding: 19px 29px;
  border-radius: 13px;
}

img.c {
  width: 100%;
  position: relative;
  top: 14px;
  background-color: antiquewhite;
}

.cross {
  display: inline-block;
  background-color: white;
  padding: 24px;
  border-radius: 50%;
  width: 29px;
  height: fit-content;
  padding: 5;
  text-align: center;
  margin: 0px auto;
}
img.l {
  width: 19px;
}

.o {
  width: 52px;
}

.like {
  display: flex;
  justify-content: center;
  column-gap: 0px;
  margin-top: 20px;
  align-items: center;
}

.like-1 {
  display: table-caption;
  background-color: violet;
  width: 4em;
  text-align: center;
  height: fit-content;
  padding: 32px;
  border-radius: 50%;
}
p.match.-name {
  color: white;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 0px;
}

img.lo {
  width: 22px;
}

svg.lo {
  width: 29px;
  color: lightgray;
}

img.rec-1 {
  position: absolute;
  transform: rotateZ(14deg);
}
img.rec {
  position: relative;
  left: 13px;
  transform: rotateZ(-23deg);
}img.rec {
  position: relative;
  left: 13px;
  transform: rotateZ(-23deg);
}

.hg {
  display: flex;
  justify-content: space-around;
  padding: 6px;
  align-items: center;
  margin-top: 1em;
  background-color: white;
  
  margin: 1em auto 0px auto;
}

svg.ik {
  color: #8080807a;
  width: 29px;
}


@media only screen and (max-width: 600px) {
  img.g-2 {
    width: 37px;
    /* border-radius: 42px; */
}
    img.g-1 {
      width: 14em;
      height: auto;
      min-width: 11em;
  }
  .images {
    display: flex;
    /* column-gap: 1em; */
    justify-content: center;
    column-gap: 1em;
}
    .info {
      left: 0em;

  }

  button.btn-1 {
    padding: 12px 68px;
}

p.description {
  color: white;
  font-size: 16px;
  line-height: 26px;
  width: 17em;
  margin: 0px;
}

button.btn-1 {
  padding: 12px 68px;
  font-size: 14px;
  position: relative;
  margin: 0px 10px;
  left: 8px;
}
}
